.text-wrap
	background-color #000
	
	text-align center
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-direction column
	justify-content space-evenly
	
	height 100vh
	padding 0 40px
	
	box-sizing border-box